    </article>

    <footer id="footer">
        <p><strong>Ana Karen López Baltazar</strong><br> A01707750 • A01707750@tec.mx<br> Web creada con 
            <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a>
        </p>
    </footer>

</body>

</html>