<%- include('includes/head.ejs') %>

        <h1>Series: Cómic</h1>
        <p>Actualmente esta es la lista de los comics que ofrecemos y publicamos bajo licencia:</p>
            
<%- include('includes/foot.ejs') %>