<%- include('includes/head.ejs') %>

    <h4>Seven Seas Entertainment</h4>
    <p>¡Oh! ¡Hola de nuevo <strong><i><%= username %></i></strong>!</p>
    <p>
        Recuerda que este es una página ficticia donde se habla de Seven Seas Entertainment, la cual es una editorial estadounidense con sede en Los Ángeles, California,​ dedicada a la publicación de manga, novelas gráficas y webcómics en inglés.
        Así pues, ten en cuenta que la mayoría de la información que ves en este sitio, proviene originalmente de su página oficial, a la cual puedes acceder hacianedo click <a href="https://sevenseasentertainment.com/">aquí</a>.
    </p>
    <p>
        Y una vez en dicho esto, para no dejar la página de inicio tan vacío, te dejo aquí el banner de un libro a publicar por la misma editorial, disrútalo:
    </p>
    <img src="https://sevenseasdanmei.com/assets/images/image24.jpg" width="100%"><br>

<%- include('includes/foot.ejs') %>