<%- include('includes/head.ejs') %>

    <h1>Galería de Fire Emblem</h1>
    <p><img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_FireEmblemThreeHouses_image1600w.jpg"
            alt="FE Three Houses" height="300">&emsp;
        <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/2x1_NSwitch_FireEmblemWarriorsThreeHopes_image1600w.jpg"
            alt="FE Three Hopes" height="300">
    </p>
    <p><img src="https://cdn.wallpapersafari.com/86/27/nW9CVt.png" alt="FE Fates" height="300">&emsp; <img
            src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_3ds_25/SI_3DS_FireEmblemAwakening_image1600w.jpg"
            alt="FE Awakening" height="300">
    </p>
    <a href="/fe">Regresar a Inicio.</a>

<%- include('includes/foot.ejs') %>