<%- include('includes/head.ejs') %>

    <h1>Fire Emblem</h1>
    <p>Fire Emblem es una franquicia de videojuegos del género rol
        táctico desarrollada por Intelligent Systems,diseñada por Shouzou Kaga y distribuida por Nintendo. Fire Emblem
        se caracteriza por la mezcla de los géneros de estrategia y rol, por ser pioneros en este tipo de juegos
        y por tener una gran influencia del folclore medieval europeo (<a
            href="https://es.wikipedia.org/wiki/Fire_Emblem">Wikipedia</a>.)</p>
    <p>A continuación, se muestra un listado de los juegos que han salido a la
        venta desde la aparición de la franquicia:</p>
    <ul>
        <% for (let game of games) { %>
            <li><%= game.titulo %></li>
        <% } %>
    </ul>
    <a href="/fe/juegos">Actualizar lista de juegos.</a><br>
    <a href="/fe/imagenes">Visitar galería de imágenes.</a><br>
    <a href="/fe/videos">Vídeos de la saga.</a><br>
    <a href="/fe/preguntas">Ver preguntas.</a><br>
    <a href="/fe/avogado6">Ver Avogado6.</a><br><br>
    
<%- include('includes/footer.ejs') %>