<%- include('includes/head.ejs') %>

        <h1>Juegos de Fire Emblem</h1>
        <p>Para completar la lista de juegos, introduce algún título no listado anteriormente:</p>
        <form action="juegos" method="POST"><label for="nombre">Título: </label> <input type="text" id="nombre"
                name="nombre" placeholder="FE Heroes"><input type="submit" value="Actualizar"></form><br>
        <a href="/fe">Regresar a Inicio.</a>
            
<%- include('includes/foot.ejs') %>