<%- include('includes/head.ejs') %>

        <h1>Series: Manga</h1>
        <p>Actualmente esta es la lista de mangas que ofrecemos y publicamos bajo licencia:</p>

        <a href="/series">Agregr una nueva serie.</a>
            
<%- include('includes/foot.ejs') %>