<%- include('includes/head.ejs') %>

        <h1>Series: Novela</h1>
        <p>Actualmente esta es la lista de las novelas que ofrecemos y publicamos bajo licencia:</p>
            
<%- include('includes/foot.ejs') %>