<%- include('includes/head.ejs') %>

    <h1>Archivo package.json.</h1>
    <p>El archivo package.json es un archivo de definición o manifiesto para nuestro proyecto, en el cual especificamos
        referencias al proyecto como: autor, repositorio, versión y sobre todo las dependencias, entre otras cosas
        (Anexsoft, 2022).
        Dicho archivo resulta útil para manejar y definir las características del proyecto así como para optimizar la
        forma en que se generan las dependencias del proyecto y los contenidos de la carpeta node_modules/ (Manz.dev,
        s.f.).
    </p>

    <h1>Template Engines.</h1>
    <p>Algunos motores de templates para Node.js, inclyen a (Openbase, 2022):
    </p>
    <ul>
        <li>Handlebars</li>
        <li>Eta</li>
        <li>Ejs</li>
        <li>Marko</li>
        <li>Mustache</li>
        <li>Jade</li>
        <li>Pug</li>
    </ul>
    
    <h1>Estilo MVC.</h1>
    <p>El estilo MVC, como bien hemos aprendido es un estilo de arquitectura de software que separa los datos de una aplicación,
        la interfaz de usuario y la lógica de control en tres componentes: modelos, vistas y controladores. Así pues, respecto a las
        ventajas, tenemos que éste (Bibliotecas UDLAP, s.f.): 
    </p>
    <ul>
        <li>Crea independica de funcionamiento.</li>
        <li>Facilita el mantenimiento en caso de errores.</li>
        <li>Permite el escalamiento de la aplicación.</li>
    </ul>
    
    <p>Por el otro lado, hablando de sus desventajas:</p>
    <ul>
        <li>La separación de conceptos en capas agrega complejidad al sistema.</li>
        <li>La cantidad de archivo a mantener y desarrollar aumente considerablemente.</li>
        <li>La curva de aprendizaje del patrón de diseño es más alta que usando otros modelos más sencillos.</li>
    </ul>


    <h3>Referencias</h3>
    <p class="referencias">
        &emsp;Anexsoft. (2022). ¿Qué es el package.json y cómo funciona? Recuperado de: <a
            href="https://anexsoft.com/que-es-el-packagejson-y-como-funciona">https://anexsoft.com/que-es-el-packagejson-y-como-funciona</a><br><br>

        &emsp;Bibliotecas UDLAP. (s.f.). Arquitectura de Software. Recuperado de: <a
            href="http://catarina.udlap.mx/u_dl_a/tales/documentos/lis/rivera_l_a/capitulo2.pdf">http://catarina.udlap.mx/u_dl_a/tales/documentos/lis/rivera_l_a/capitulo2.pdf</a><br><br>

        &emsp;Manz.dev. (s.f.). El archivo package.json. Recuperado de: <a
            href="https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson">https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson</a><br><br>
    
        &emsp;OpenBase. (2022). 10 Best Node.js HTML Templating Engine Libraries. Recuperado de: <a
            href="https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries">https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries</a>
    </p><br>
    <a href="/fe">Regresar a Inicio.</a>

    <%- include('includes/footer.ejs') %>