<%- include('includes/head.ejs') %>

    <h1>Archivo package.json.</h1>
    <p>El archivo package.json es un archivo de definición o manifiesto para nuestro proyecto, en el cual especificamos
        referencias al proyecto como: autor, repositorio, versión y sobre todo las dependencias, entre otras cosas
        (Anexsoft, 2022).
        Dicho archivo resulta útil para manejar y definir las características del proyecto así como para optimizar la
        forma en que se generan las dependencias del proyecto y los contenidos de la carpeta node_modules/ (Manz.dev,
        s.f.).
    </p>

    <h1>Template Engines.</h1>
    <p>Algunos motores de templates para Node.js, inclyen a (Openbase, 2022):
    </p>
    <ul>
        <li>Handlebars</li>
        <li>Eta</li>
        <li>Ejs</li>
        <li>Marko</li>
        <li>Mustache</li>
        <li>Jade</li>
        <li>Pug</li>
    </ul>       

    <h3>Referencias</h3>
    <p class="referencias">
        &emsp;Anexsoft. (2022). ¿QUÉ ES EL PACKAGE.JSON Y CÓMO FUNCIONA? Recuperado de: <a
            href="https://anexsoft.com/que-es-el-packagejson-y-como-funciona">https://anexsoft.com/que-es-el-packagejson-y-como-funciona</a><br>

        &emsp;Manz.dev. (s.f.). El archivo package.json. Recuperado de: <a
            href="https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson">https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson</a><br>
    
        &emsp;OpenBase. (2022). 10 Best Node.js HTML Templating Engine Libraries. Recuperado de: <a
            href="https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries">https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries</a>
    </p><br>
    <a href="/fe">Regresar a Inicio.</a>

    <%- include('includes/footer.ejs') %>