<%- include('includes/head.ejs') %>

        <h4>Agregar nueva serie (Manga)</h4>
        <p>Para agregar un nuevo manga al catálogo, lleno los siguientes espacios con información del mismo:</p>

        <form action="/sevenseas/series" method="POST">
            <label for="titulo">Título: </label> 
            <input type="text" id="titulo" name="titulo" placeholder="One Piece"><br>
            
            <label for="descripcion">Descripción: </label> 
            <input type="text" id="descripcion" name="descripcion" placeholder="Hace veintidós años, el legendario pirata, Gold D. Roger fue ejecutado..."><br>
            
            <label for="autor">Autor: </label>
            <input type="text" id="autor" name="autor" placeholder="Eiichirō Oda"><br>
            
            <label for="artista">Artista: </label>
            <input type="text" id="artista" name="artista" placeholder="Eiichirō Oda"><br>

            <label for="imagen">Imagen: </label>
            <input type="text" id="imagen" name="imagen" placeholder="https://tierragamer.com/wp-content/uploads/2021/11/one-piece-1000-anime-trailer-3-450x300.jpg"><br><br>

            <input type="submit" value="Agregar">
        </form><br>
        <a href="/sevenseas/manga">Cancelar.</a><br><br>
            
<%- include('includes/foot.ejs') %>