<%- include('includes/head_mod.ejs') %>

    <div class="divider"></div><br>
    <h4>Crea una cuenta</h4>

    <form action="/usuario/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

        <div class="row">
            <div class="col l6 m6 s12">
                <label for="nombre">Nombre:</label> 
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>

            <div class="col l6 m6 s12">
                <label for="email">E-mail:</label> 
                <input type="text" id="email" name="email" placeholder="Email"><br><br>
            </div>

            <div class="col l12 m12 s12">
                <label for="username">Username:</label> 
                <input type="text" id="username" name="username" placeholder="Username"><br><br>
            </div>

            <div class="col l12 m12 s12">
                <label for="password">Contraseña:</label> 
                <input type="password" id="password" name="password" placeholder="Password"><br>
            </div>
        </div>   
        <input type="submit" value="SIGN UP">
    </form><br>
    
    <div class="divider"></div>
    <p>¿Ya tienes una cuenta? <a href="/usuario/login">Sign In<a></p>

<%- include('includes/foot.ejs') %>