<%- include('includes/head.ejs') %>

    <div class="divider"></div><br>
    <h4>Crea una cuenta</h4>

    <form action="/usuario/signup" method="POST">
        <label for="username"></label> 
        <input type="text" id="username" name="username" placeholder="Username"><br>
        
        <label for="email"></label> 
        <input type="text" id="email" name="email" placeholder="Email"><br>
        
        <label for="phone"></label> 
        <input type="text" id="phone" name="phone" placeholder="Phone"><br>

        <label for="password"></label> 
        <input type="text" id="password" name="password" placeholder="Password"><br><br>
            
        <input type="submit" value="SIGN UP">
    </form><br>
    
    <div class="divider"></div>

<%- include('includes/foot.ejs') %>