        </div>
    </main>

    <footer class="page-footer blue-grey darken-1">
        <div class="footer-copyright">
          <div class="container">
          © 2022 Ana Karen López Baltazar
          <a class="grey-text text-lighten-4 right" href="https://sevenseasentertainment.com/"><i>Seven Seas Entertainment</i></a>
          </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>