<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <title>Laboratorio 14</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Laboratorio 14: Manejo de sesiones y cookies</h1>
    </header>
    
    <article>