<%- include('includes/head.ejs') %>

    <h1>Archivo package.json.</h1>
    <p>El archivo package.json es un archivo de definición o manifiesto para nuestro proyecto, en el cual especificamos
        referencias al proyecto como: autor, repositorio, versión y sobre todo las dependencias, entre otras cosas
        (Anexsoft, 2022).
        Dicho archivo resulta útil para manejar y definir las características del proyecto así como para optimizar la
        forma en que se generan las dependencias del proyecto y los contenidos de la carpeta node_modules/ (Manz.dev,
        s.f.).</p>
    <h3>Referencias</h3>
    <ul style="list-style-type:square">
        <li>Anexsoft. (2022). ¿QUÉ ES EL PACKAGE.JSON Y CÓMO FUNCIONA? Recuperado de: <a
                href="https://anexsoft.com/que-es-el-packagejson-y-como-funciona">https://anexsoft.com/que-es-el-packagejson-y-como-funciona</a>
        </li>
        <li>Manz.dev. (s.f.). El archivo package.json. Recuperado de: <a
                href="https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson">https://lenguajejs.com/npm/administracion/package-json/#el-archivo-package-lockjson</a>
        </li>
    </ul>
    <a href="/fe">Regresar a Inicio.</a>

    <%- include('includes/footer.ejs') %>