<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <title>Laboratorio 12</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Laboratorio 12: HTML dinámico</h1>
    </header>
    
    <article>
        <h1>Juegos de Fire Emblem</h1>
        <p>Para completar la lista de juegos, introduce algún título no listado anteriormente:</p>
        <form action="juegos" method="POST"><label for="nombre">Título: </label> <input type="text" id="nombre"
                name="nombre" placeholder="FE Heroes"><input type="submit" value="Actualizar"></form><br>
        <a href="/fe">Regresar a Inicio.</a>    
    </article>

    <footer id="footer">
        <p><strong>Ana Karen López Baltazar</strong><br> A01707750 • A01707750@tec.mx<br> Web creada con 
            <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a>
        </p>
    </footer>
    
</body>

</html>