body {
  padding: 1em 2em;
  background-image: url('img_city.jpg');
  margin: 0 auto;
  max-width: 80em;
  font-family: serif;
  text-align: justify;
}

header {
  letter-spacing: 0.1em;
  text-align: left;
  display: block;
  margin: 0 auto;
}

h1 {
  font-style: italic;
  font-size: xx-large;
}

section h3 {
  color: #606060;
}

.right-text{
  vertical-align:middle;
  float:right;
}

.left-picture {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 300px;
  object-fit: contain;
  align-self: flex-start;
}

a {
  text-decoration:none; 
  color:black;
  font-style:;
}

a:hover {
  color: #606060;
}

#footer {
  text-align: right;
  font-size: small;
  font-style: italic;
  position: absolute;
  bottom: 0;
  height: 5rem;
}